<h2>Add post</h2>
<div class="card card-body mb-3">
  <form>
    <div class="form-group">
      <label>Title</label>
      <input type="text" [(ngModel)]="currentPost.title" name="Title" class="form-control" #title>
    </div>
    <div class="form-group">
      <label>Body</label>
      <input type="text" [(ngModel)]="currentPost.body" name="body" class="form-control" #body>
    </div>
    <input type="hidden" name="id" [(ngModel)]="currentPost.id" id="id">
    
    <button *ngIf="!isEdit" (click)="addPost(title.value, body.value)" class="btn btn-dark btn-block">Add Post</button>
    <button *ngIf="isEdit" (click)="updatePost()" class="btn btn-block btn-warning">Update Post</button>
  </form>
</div>